# Facebook API
FB_ACCESS_TOKEN=your_access_token
FB_PAGE_ID=your_page_id
FB_APP_SECRET=your_app_secret
FB_VERIFY_TOKEN=okami_verify_token

# Admin Settings
ADMIN_PASSWORD=OKAMI-BOT__START

# Database
MONGO_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/okami_db

# App Settings
PORT=8080
NODE_ENV=production
DATA_DIR=./data
